venv
nenv/
logs/
datasets
archive
datatest
processed
tmp
.vscode
.idea/
images
models
model/**/*
tests/**/*
audios
english-multispeaker-corpus-for-voice-cloning.zip
**/__pycache__/
.ipynb_checkpoints/**/*
leaf-audio
.spyproject/
espnet_model_zoo/