# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\faculdade\projeto_pesquisa_som\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
